.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 17px 0 0 0;
  line-height: 29px;
  text-align: right;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 68px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 400;
  color: rgb (33, 33, 33);
  font-size: 48px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -23px;
  line-height: 1;
}

.Weather .atributes {
  font-size: 13px;
  line-height: 16px;
  margin: 17px 0 0 0;
  padding: 0;
}

.Weather .card-atributes {
  font-size: 15px;
  text-align: right;
}
